<!--NAVBAR-->
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="home">
        <img src="../assets/venda-vasco-1280x720.jpg" width="80" height="50" />
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="https://vasco.com.br/"
              >Site Vasco Da Gama</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Sobre o Vasco
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink] ="['/elenco']">Elenco</a></li>
              <li><a class="dropdown-item" [routerLink] ="['/estadio']">Estádio</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" [routerLink] ="['/titulos']">Títulos</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Digite aqui..."
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Pesquisar</button>
        </form>
      </div>
    </div>
  </nav>

  <!-- Card -->
    <div class="d-flex justify-content-around align-items-center vh-100">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Histórias</h5>
            <p class="card-text">Para visualizar as Histórias, clique no botão abaixo.</p>
            <a class="btn btn-dark" (click)="irParaHistorias()">Clique aqui</a>
        </div>
    </div>
    </div>
    

