<!--NAVBAR-->
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="home">
      <img src="../assets/venda-vasco-1280x720.jpg" width="80" height="50" />
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="https://vasco.com.br/"
            >Site Vasco Da Gama</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Sobre o Vasco
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/elenco']">Elenco</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/estadio']">Estádio</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/titulos']">Títulos</a>
            </li>
          </ul>
        </li>
      </ul>
      
      <form class="d-flex" role="search" (submit)="appService.searchManual(searchInput.value); $event.preventDefault();">
        <input
          #searchInput
          class="form-control me-2"
          type="search"
          placeholder="Digite aqui..."
          aria-label="Search"
        />
        <button class="btn btn-outline-secondary" type="submit">Pesquisar</button>
      </form>
    </div>
  </div>
</nav>

<!-- Cards Jogadores -->

<!--Goleiros-->
<div class="d-flex flex-column align-items-center mt-4">
    <h2 class="mb-3">Goleiros</h2> 
    <div class="d-flex flex-wrap gap-3 justify-content-center">
      <div class="card" *ngFor="let jogador of goleiros" style="width: 18rem">
        <img [src]="jogador.imagem" class="card-img-top" alt="{{ jogador.nome }}" />
        <div class="card-body d-flex justify-content-center">
          <h5 class="card-title">{{ jogador.nome }}</h5>
        </div>
      </div>
    </div>
  </div>
  
  <!--Laterais-Direito-->
  <div class="d-flex flex-column align-items-center mt-5">
    <h2 class="mb-3">Laterais-Direito</h2> 
    <div class="d-flex flex-wrap gap-3 justify-content-center">
      <div class="card" *ngFor="let jogador of ld" style="width: 18rem">
        <img [src]="jogador.imagem" class="card-img-top" alt="{{ jogador.nome }}" />
        <div class="card-body d-flex justify-content-center">
          <h5 class="card-title">{{ jogador.nome }}</h5>
        </div>
      </div>
    </div>
  </div>
  
  <!--Zagueiros-->
  <div class="d-flex flex-column align-items-center mt-5">
    <h2 class="mb-3">Zagueiros</h2> 
    <div class="d-flex flex-wrap gap-3 justify-content-center">
      <div class="card" *ngFor="let jogador of zagueiro" style="width: 18rem">
        <img [src]="jogador.imagem" class="card-img-top" alt="{{ jogador.nome }}" />
        <div class="card-body d-flex justify-content-center">
          <h5 class="card-title">{{ jogador.nome }}</h5>
        </div>
      </div>
    </div>
    </div>

 <!-- Lateral-Esquerdo -->
 <div class="d-flex flex-column align-items-center mt-5">
    <h2 class="mb-3">Laterais-Esquerdo</h2> 
    <div class="d-flex flex-wrap gap-3 justify-content-center">
      <div class="card" *ngFor="let jogador of le" style="width: 18rem">
        <img [src]="jogador.imagem" class="card-img-top" alt="{{ jogador.nome }}" />
        <div class="card-body d-flex justify-content-center">
          <h5 class="card-title">{{ jogador.nome }}</h5>
        </div>
      </div>
    </div>
  </div>

  <!-- Volantes -->
  <div class="d-flex flex-column align-items-center mt-5">
    <h2 class="mb-3">Volantes</h2> 
    <div class="d-flex flex-wrap gap-3 justify-content-center">
      <div class="card" *ngFor="let jogador of volantes" style="width: 18rem">
        <img [src]="jogador.imagem" class="card-img-top" alt="{{ jogador.nome }}" />
        <div class="card-body d-flex justify-content-center">
          <h5 class="card-title">{{ jogador.nome }}</h5>
        </div>
      </div>
    </div>
    </div>

  <!-- Meio-campistas -->
  <div class="d-flex flex-column align-items-center mt-5">
    <h2 class="mb-3">Meio-campistas</h2> 
    <div class="d-flex flex-wrap gap-3 justify-content-center">
      <div class="card" *ngFor="let jogador of meio" style="width: 18rem">
        <img [src]="jogador.imagem" class="card-img-top" alt="{{ jogador.nome }}" />
        <div class="card-body d-flex justify-content-center">
          <h5 class="card-title">{{ jogador.nome }}</h5>
        </div>
      </div>
    </div>
    </div>

  <!-- Atacantes -->
  <div class="d-flex flex-column align-items-center mt-5">
    <h2 class="mb-3">Atacantes</h2> 
    <div class="d-flex flex-wrap gap-3 justify-content-center">
      <div class="card" *ngFor="let jogador of atacantes" style="width: 18rem">
        <img [src]="jogador.imagem" class="card-img-top" alt="{{ jogador.nome }}" />
        <div class="card-body d-flex justify-content-center">
          <h5 class="card-title">{{ jogador.nome }}</h5>
        </div>
      </div>
    </div>
    </div>
